@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
@page {
  size: A4;
  margin: 10mm;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background: white;
  }

  .invoice-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  button {
    display: none !important;
  }
}
html {
  scroll-behavior: smooth;
}